[user]
	name = Guy Rozen
	email = guy.rozen@forter.com
[alias]
	co = checkout
	ci = checkin
[push]
	default = tracking
[color]
	ui = always
[core]
	excludesfile = /Users/grozen/.gitignore
[credential]
	helper = osxkeychain
[tag]
	sort = version:refname
