[user]
	name = Guy Rozen
	email = holyeggplant@gmail.com
[alias]
	co = checkout
	ci = checkin
[github]
	user = Guy Rozen
	token = 411a75b09c1ab95401e42d0099e613e3
[push]
	default = tracking
[color]
	ui = always
[core]
	excludesfile = /Users/grozen/.gitignore
