set nocompatible
filetype off

let mapleader = ","
let maplocalleader = "\\"

map Y y$

inoremap jj <ESC>

set ignorecase
set smartcase
set showmatch
set gdefault
set hlsearch

" Keep search matches in the middle of the window.
nnoremap n nzzzv
nnoremap N Nzzzv

" Hybrid line numbers
set number relativenumber

" Enable vim-surround support
set surround

" Use system clipboard
set clipboard=unnamed
set clipboard+=ideaput